<html>
<head>
  <title>Invoice-o-matic</title>
  <link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <header>
    <div class="container">

      <h1>Invoice-o-matic</h1>
      <h3>Generate a new invoice</h3>

    </div>
  </header>
