* {
  font-family: 'Proxima Nova', sans-serif;
  margin: 0;
  padding: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  opacity: 0.5; }
  .header svg {
    margin-right: 20px;
    width: 100px; }
  .header h1 {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px; }
  .header h2 {
    font-size: 1.5em;
    font-weight: 100;
    font-style: italic; }
  .header div:first-of-type {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

section strong, section p span {
  font-weight: 700; }

section h3 {
  font-size: 2em;
  margin-top: 50px; }

section p {
  margin-top: 10px; }

section table {
  width: 100%;
  text-align: center; }
  section table th {
    padding: 10px 0px;
    font-weight: 100; }
  section table td:first-of-type, section table th:first-of-type {
    text-align: left;
    width: 40%; }
  section table td h4, section table th h4 {
    font-size: 1.1em; }
  section table td p, section table th p {
    margin-top: 5px; }
  section table tr.summary {
    font-size: 1.2em; }
  section table td {
    padding: 5px 0px; }

.intro h3 {
  font-size: 4em; }
